{% extends "default.twig" %}

{% block main %}

<h1 style="font-size: 1rem;">Latest dev-related and other public thoughts</h1>
  <ul class="list list--posts">
    {% for post in devrant.content.content.rants %}
      {% set vars = {
        'type': 'post',
        'desc': post.text|replace({'\n':'<br>'}),
        'image': post.attached_image ? post.attached_image.url : '',
        'title':'',
        'meta': [
          '<time>' ~ post.created_time|date('j M, Y') ~ '</time>',
          '<div class="list-item__score"><i class="icon-increment">++ </i>' ~ post.score ~ '</div>'
        ],
        'footer': [post.num_comments ? '<a class="permalink" href="https://devrant.com/rants/' ~ post.id ~ '">View replies</a>' : '']
      } %}
      {% include "includes/list-item.twig" with vars %}
    {% endfor %}
  </ul>
{% endblock %}