{% extends "default.twig" %}

{% block content %}
  {% set vars = {
    'show_topic': false,
    'posts': items
  } %}
  <h1 style="font-size: 1rem;">Articles in category <span class="article__topic" style="margin-left: 10px;">{{ title }}</span></h1>
  {% include "includes/article-list.twig" with vars %}
{% endblock %}