.rants {
  &__item {
    padding: .75rem 0;
    overflow: auto;

    & > * {
      float: left;
    }
  
    & + & {
      border-top: 1px solid #EEE;
    }
  }
}
.list {
  @include unstyled-list;

  &--posts {
  }

  &--projects {

  }

  &--articles {

  }
}

.list-item {
  display: flex;
  padding: 1rem 0;
  justify-content: flex-start;
  position: relative;

  & + & {
    border-top: 1px solid #EEE;
  }

  &__meta, &__body, &__footer {
    
  }

  &__meta {
    min-width: 150px; 
    padding-right: 2rem;
    text-align: right;

    time {
      font-style: italic;
    }

    & > :not(:first-child) {
      margin-top: .75em;
    }
  }

  &__body {
    width: calc(100% - 150px);
  }

  &__footer {

  }

  &__title {
    margin: 0 0 1rem;
  }

  &__desc {
    margin: 0;
  }

  &__image {
    float: left;
    margin-right: 1rem;
    margin-top: .375rem;
    line-height: 1.75rem;

    img {
      max-width: 250px;
      max-height: 100px;
    }
  }

  &__date {
    line-height: 1.75rem;
    font-style: italic;
  }

  &__score {
    font-family: $font-sec;
    .icon-increment {
      font-style: normal;
    }
  }

  &--post {
    .footer__item {
      text-align: right;
    }
  }

  &--project {

    & + & {
      border-top: none;
    }

    .list-item__permalink {
      color: #444;
      font-family: $font-sec;
    }
  }

  @media screen and (max-width: $screen-small) {
    flex-direction: column;

    .meta {
      padding-right: 0;
    }

    &__body {
      width: 100%;
    }
  }
}

.list-item--project {
  @media screen and (max-width: $screen-small) {
    .meta {
      position: absolute;
      top: 1rem;
      right: 0;
    }
  }
}


.topic, .topic:hover, .topic:active, .topic:focus {
  font-size: smaller;
  text-transform: capitalize;
  background: var(--accent-color);
  color: #FFFFEE;
  font-family: $font-sec;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.1775rem 0.375rem;
  border-radius: 2px;
  margin-right: .375rem;
  vertical-align: top;
  display: inline-block;
}