---
title: Search
customUrl: /
showInMain: false
items: [HTML, test]
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body id="search">
		<div id="wrapper">
			{% include header.html %}
			<div id="main">
				<p>Displaying all posts for 
					<span id="search-label"></span>:
					<span id="search-term"></span>
				</p>
				<ul id="search-results" class="list searchresults">
					{% for post in site.posts %}
						<li class="list-item hidden">{% include blog-list-item.html %}</li>
					{% endfor %}
				</ul>
			</div>
			{% include sidebar.html widgets="search,categories,tags" %}
		</div>
		{% include footer.html %}
		<script type="text/javascript">
			{% assign counter = 0 %}
			var searchItems = [
				{% for post in site.posts %}
					{category: '{{ post.category | downcase }}',
					 tags: [{% for tag in post.tags %} '{{ tag | downcase }}', {% endfor %}],
					 title: '{{ post.title | downcase }}',
					 element: document.getElementById('search-results').children[{% increment counter %}]
					},
				{% endfor %}
			];
		</script>
		<script src="{{ site.url }}/assets/js/search.js"></script>
	</body>
</html>