<header id="site-header">
	<div class="uk-float-left uk-margin-right" style="min-width: 100px;">
		<figure id="profile-picture" class="uk-border-circle">
			<img src="{{ site.url }}/assets/img/kevin-van-lierde.png" alt="Kevin Van Lierde's profile picture" class="uk-responsive-width">
		</figure>
	</div>
	<div class="uk-clearfix uk-float-left uk-width-2-3 uk-width-medium-3-10">
		<h1 id="site-title">'t Webketje</h1>
		<nav id="site-nav" class="uk-float-left">
			{% for order in (1..10) %}
			{% for page in site.pages %}
			{% if page.order == order %}
			{% if page.customUrl %}
			<a href="{{ page.customUrl }}">{{ page.title }}</a> /
			{% else %}
			<a href="{{ page.url }}">{{ page.title }}</a> /
			{% endif %} 
			{% endif %}
			{% endfor %}
			{% endfor %}
		</nav>
	</div>
	<nav id="site-social-media" class="uk-float-right uk-hidden-small">
		<p class="uk-text-right uk-hidden-small" style="margin-top: -10px;">Get in touch:<img src="{{ site.url }}/assets/img/arrow.png" style="height: 30px; margin: 20px 0 0 10px;"></p>
		<a href="http://twitter.com/Tyblitz" 	title="Twitter"><i class="fa fa-twitter"></i></a>
		<a href="http://linkedin.com/kevinvanlierde" 	title="Linkedin"><i class="fa fa-linkedin"></i></a>
		<a href="http://plus.google.com/+KevinVanLierde" title="Google Plus"><i class="fa fa-google-plus"></i></a>
		<a href="http://stackoverflow.com/users/1938203/tyblitz" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
		<a href="#kevin.van.lierde@gmail.com" 	title="E-mail: kevin.van.lierde@gmail.com"><i class="fa fa-envelope"></i></a>
	</nav>
</header>