<header id="site-header">
	<figure id="profile-picture">
		<img src="{{ site.url }}/assets/img/kevin-van-lierde.png" alt="Kevin Van Lierde's profile picture">
	</figure>
	<div>
		<h2 id="site-title">'t Webketje</h2>
		<nav id="site-nav">
			{% for order in (1..10) %}
			{% for page in site.pages %}
			{% if page.order > -1 %}
			{% if page.order == order %}
			{% if page.customUrl %}
			<a href="{{ page.customUrl }}">{{ page.title }}</a> /
			{% else %}
			<a href="{{ page.url }}">{{ page.title }}</a> /
			{% endif %} 
			{% endif %}
			{% endif %}
			{% endfor %}
			{% endfor %}
		</nav>
	</div>
	<nav id="site-social-media">
		<p>Get in touch:<img src="{{ site.url }}/assets/img/arrow.png" alt="arrow down"></p>
		<a href="http://twitter.com/Tyblitz" 	title="Twitter"><i class="fa fa-twitter"></i></a>
		<a href="http://linkedin.com/kevinvanlierde" 	title="Linkedin"><i class="fa fa-linkedin"></i></a>
		<a href="http://plus.google.com/+KevinVanLierde" title="Google Plus"><i class="fa fa-google-plus"></i></a>
		<a href="http://stackoverflow.com/users/1938203/tyblitz" title="StackOverflow"><i class="fa fa-stack-overflow"></i></a>
		<a href="#kevin.van.lierde@gmail.com" 	title="E-mail: kevin.van.lierde@gmail.com"><i class="fa fa-envelope"></i></a>
	</nav>
</header>