<strong>Archives</strong>

  {% for post in site.posts offset: 10 %}
    {% unless post.next %}
      <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <span>{{ post.date | date: '%Y' }}</span>
        <ul class="past">
      {% endif %}
    {% endunless %}
      <li><span>{{ post.date | date:"%d %b" }}</span><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>