<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  {% endblock %}
	{% include 'includes/head.twig' %}
</head>

<body id="page-{{ title|lower|replace({' ': '-'})}}">
	<div id="wrapper" itemscope itemtype="http://schema.org/WebPage" itemid="{{title | url_encode}}">
    <header class="site__header">
      {% include 'includes/header.twig' %}
      {% block header %}
      {% endblock %}
    </header>
    
    {% block main %}
    <main>
      {% block content %}
      {{ contents }}
      {% endblock %}
    </main>
    {% endblock %}
  </div>

  {% include 'includes/footer.twig' %}
  {% block footer %}
  {% endblock %}
</body>

</html>