<!DOCTYPE html>
<html lang="en">

<head>
	{% include 'includes/head.twig' %}
  {% block head %}
  {% endblock %}
</head>

<body itemscope itemtype="http://schema.org/WebPage">
  {{ contents }}
  <footer>
	{% include 'includes/footer.twig' %}
  {% block footer %}
  {% endblock %}
  </footer>
</body>
</html>