---
title: KO Site Settings
slug: ko-site-settings
layout: base
type: page
widgets: toc
published: true
order: -1
---
<section id="intro">
	<header>
		<h2 id="introduction">Introduction</h2>
	</header>
	<p>KO Site Settings is a <a href="http://get-simple.info">GetSimple CMS</a> plugin for site-wide custom settings, to be used independently or in conjunction with plugins like <a href="http://get-simple.info/extend/plugin/i18n/69/">i18n</a>. It allows for the creation of setting lists, spread over multiple tabs, with choice for each setting field between (currently) 8 input types and 3 access levels. The plugin features a very responsive UI, in-app feedback (which you can toggle on/off), and has a few oddities compared to its GS plugin counterparts. I wanted to create a plugin that is smooth and plays nicely with Javascript, and thus it uses JSON instead of XML, and HTML templates instead of PHP ones.<br><br>
    The plugin is named KO because it is built on <a href="http://knockoutjs.com">Knockout JS</a> and handles almost all logic client-side, except for plugin registration,
    hooks, path resolving, and handling server requests. Data is sent and saved through AJAX. Furthermore, the plugin provides an interactive notification service and a JS localization system. The language file for this plugin is also in JSON format.</p>
</section>
<section>
	<header>
		<h2 id="download">Download</h2>
	</header>
	<p>Download the latest (and other) version(s) of this plugin on the GetSimple Extend <a href="">Plugin page</a>. The latest version of this plugin is 0.1 (Alpha)</p>
</section>
<section>
	<header>
		<h2 id="user-guide">User Guide</h2>
	</header>
	<section>
		<h3 id="advised-use">Advised use</h3>
		<p>It is important (or at least advised), to give each setting a <em>unique label</em>, as the <code>lookup</code> (used for outputting settings) is generated as a slug of the label. If there are conflicting names, the setting ID will be appended to the <code>lookup</code>. It is also important to note that <em>if you change the setting label or tab</em>, the <code>lookup</code> will change too, so you will need to adapt its outputting code in the editor/templates/components where you used it. Therefore it is advised not to change the setting's tab/ label after putting it in use.</p>
	</section>
	<section>
		<h3 id="switching-between-modes">Switching between modes</h3>
		<p>The Site Settings plugin allows you to switch modes between <kbd>Manage</kbd> and <kbd>Edit</kbd>. <kbd>Manage</kbd> mode only allows changing the value of visible, non-locked inputs, and is meant for the webmaster/ website manager; in <kbd>Edit</kbd> mode, (primarily) for the developer, one can create and modify settings. Simply click the button to toggle the mode. </p>
	</section>
	<section>
		<h3 id="editing-tabs">Editing tabs</h3>
		<p><img src="assets/img/tab-edit.png" style="float: right; margin-left: 20px;">I guess editing tabs is pretty self-explanatory (see image to the right). Click the tab label to edit it, and click the icons to complete any of the following actions, from left to right: <br><br>
			1. Filter view only settings in this tab<br>
			2. Add a new tab<br>
			3. Remove this tab<br>
			4. Move this tab up<br>
			5. Move this tab down<br><br>
		{% include components.html block="note" type="info" text="If a tab contains settings and is removed, the settings in the tab or moved to the first tab." %}
		</p>
	</section>
	<section>
		<h3 id="editing-settings">Editing settings</h3>
			<p><img src="assets/img/setting-toolbar.png" style="float:right; margin-left: 20px;">To view setting details for all settings, toggle the <kbd>Open/ Close All</kbd> button in the top-right nav. Here you can also toggle feedback on/off. Similar to editing tabs, every setting has a small toolbar to the left which allows any of the following actions, from left to right:<br><br>
			1. Show/ Hide setting details<br>
			2. Add a new setting<br>
			3. Remove this setting<br>
			4. Move this setting up<br>
			5. Move this setting down<br><br>
		{% include components.html block="note" type="info" text="Some actions (like moving up or down) can only be completed in the <code>All tabs</code> view." %}</p>
		<figure>
			<img src="assets/img/edit-settings.png">
		</figure>
		<section>
			<h4 id="setting-input-type">Setting input type</h4>
			<p>You can choose between 8 different types of input for settings. Below is a preview of what they look like in <kbd>Manage</kbd> mode.
			<p><strong>Text</strong><img src="assets/img/text-input.png" style="float:right;"></p>
			<p><strong>Textarea</strong><img src="assets/img/textarea-input.png" style="float:right;"></p>
			<p><strong>Checkbox</strong><img src="assets/img/text-input.png" style="float:right;"></p>
			<p><strong>Radio</strong><img src="assets/img/radio-input.png" style="float:right;"></p>
			<p><strong>Select</strong><img src="assets/img/select-input.png" style="float:right;"></p>
			<p><strong>Fancy checkbox</strong><img src="assets/img/fancy-checkbox-input.png" style="float:right;"></p>
			<p><strong>Fancy radio</strong><img src="assets/img/fancy-radio-input.png" style="float:right;"></p>
			<p><strong>Switch</strong><img src="assets/img/switch-input.png" style="float:right;"></p>
		</section>
		<section>
			<h4 id="setting-access">Setting access</h4>
			<p>
				<img src="assets/img/setting-access.png" style="float:right; margin-left: 20px;">
				<kbd>Normal</kbd> makes the input visible and editable to all in <kbd>Manage</kbd> mode.
				<br><kbd>Locked</kbd> makes the input visible to all in <kbd>Manage</kbd> mode, but not editable.
				<br><kbd>Hidden</kbd> makes the input invisible to all in <kbd>Manage</kbd> mode.<br><br>
				{% include components.html block="note" type="info" text="The value of inputs which are set to <code>Locked</code> or <code>Hidden</code> can be changed only in <kbd>Edit</kbd> mode." %}
			</p>
			<p>For <code>Locked</code> or <code>Hidden</code> inputs, a <code>Value</code> text field will appear in <kbd>Edit</kbd> mode. It is important to note that this was originally only intended for text and textarea fields. Any other type of setting should work, but might not on some occasions. If you choose another type of setting, you should write a valid value for it, eg: <code>checkbox</code> &amp; <code>switch</code> settings expect a value of TRUE or FALSE, and <code>radio</code> &amp; <code>select</code> inputs expect an option index <em>number</em>.</p>
		</section>
	</section>
	<section>
		<h3 id="outputting-settings">Outputting settings</h3>
		<p>To get a setting in a page (in the WYSIWYG editor), simply type <code>(% setting: tab/setting %)</code>.<br>To get a setting in themes and components, type <code>&lt;?php get_setting('tab/setting') ?&gt;</code>.<br>To process the return value before outputting it, type <code>&lt;?php return_setting('tab/setting') ?&gt;</code>. The easiest way to get this code, is to copy to select and copy paste the code field next to the input (the WYSIWYG code is visible in <kbd>Manage</kbd> mode, the PHP code in <kbd>Edit</kbd> mode.) Beneath is a listing of the return values for each type of input (the 'fancy' versions as well as <code>switch</code> simply make use of font icons instead of standard inputs):</p>
		<table>
			<tr>
				<td><strong>Input types</strong></td>
				<td><strong>Return value</strong></td>
			</tr>
			<tr>
				<td><code>text</code></td>
				<td>Returns the text content from the field</td>
			</tr>
			<tr>
				<td><code>textarea</code></td>
				<td>Returns the text content from the field</td>
			</tr>
			<tr>
				<td><code>checkbox</code></td>
				<td>Returns TRUE (checked) or FALSE (unchecked)</td>
			</tr>
			<tr>
				<td><code>radio</code></td>
				<td>Returns the <i>selected</i> option's text value.</td>
			</tr>
			<tr>
				<td><code>select</code></td>
				<td>Returns the <i>selected</i> option's text value.</td>
			</tr>
			<tr>
				<td><code>switch</code></td>
				<td>Returns TRUE (on) or FALSE (off)</td>
			</tr>
			<tr>
				<td><code>fancy checkbox</code></td>
				<td>Returns TRUE (checked) or FALSE (unchecked)</td>
			</tr>
			<tr>
				<td><code>fancy radio</code></td>
				<td>Returns the <i>selected</i> option's text value.</td>
			</tr>
		</table>
	</section>
	<section>
		<h3 id="restricting-editing-permission">Restricting editing permission</h3>
		<p>By default both the <kbd>Manage</kbd> and <kbd>Edit</kbd> modes are enabled. If inputs are to be locked or hidden, the only available mode should be <kbd>Manage</kbd>. In version 0.1 you can toggle this mode by finding the <code>ko_site_settings.php</code> file in the <code>plugins</code> directory, look for the <code>$ko_site_settings_defs</code> array, and set <code> NO_EDITING</code> to <code>TRUE</code>. In future releases user permissions shall be included as an option.
	</section>
</section>
<section>
	<header>
		<h2 id="plugin-info">Plugin info</h2>
	</header>
	<section>
		<h3 id="how-it-works">How it works</h3>
		<p>Data for this plugin is saved in JSON format in the <code>KO_data/ko_site_settings</code> subfolder in the GetSimple <code>/data/other</code> path.<br><br>Concerning the plugin structure, the PHP <code>KO</code> class is used as base, in the file <code>/plugins/ko_base/ko.class.php</code>. In the <code>ko_base</code> folder are all shared assets for this and eventual future KO plugins. The plugin-specific folder is <code>/plugins/ko_site_settings</code>.</p>
	</section>
	<section>
		<h3 id="dependencies">Dependencies</h3>
		<p>Although the dependencies for this plugin are automatically included, I feel like I need to mention what libraries are included with this plugin, and those are:
			<ul>
				<li><a href="http://jquery.com">jQuery (from GetSimple CMS)</a></li>
				<li><a href="http://knockoutjs.com">KnockoutJS 3.2.0</a></li>
				<li><a href="http://knockoutjs.com/documentation/plugins-mapping.html">Knockout Mapping plugin 2.0</a></li>
				<li><a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome Iconfont</a></li>
				<li>koBase.js - the plugin's base JS</li>
				<li>ko-style.css - a mini-css framework for this (and eventual other) plugin(s made by me)</li>
			</ul>
		</p>
	</section>
	<section>
		<h3 id="known-issues">Known issues</h3>
		<pre>
			{% for item in site.data.changelog_ko_site_settings.first.known_issues %}
- {{item}}{% endfor %}
		</pre>
	</section>
	<section>
		<h3 id="planned-features">Planned features</h3>
		<pre>
			{% for item in site.data.changelog_ko_site_settings.first.planned_features %}
- {{item}}{% endfor %}
		</pre>
	</section>
	<section>
		<h3 id="changelog">Changelog</h3>
		<pre>{% for item in site.data.changelog_ko_site_settings %}
<strong>{{item.date}} - V. {{ item.version }}</strong>
{% if item.new_features.first %}  <u>New features:</u> 
{% for ft in item.new_features %}    - {{ ft }}
{% endfor %}{% endif %}
{% if item.other.first %}  <u>Other:</u>
{% for oth in item.other %}    - {{ oth }}
{% endfor %}{% endif %}
{% if item.bug_fixes.first %}  <u>Bugfixes:</u>
{% for bf in item.bug_fixes %}    - {{ bf }}
{% endfor %}{% endif %}
{% endfor %}</pre>
	</section>
</section>