	<meta charset="utf-8">
	<title>{{ title }} | {{ sitename }}</title>
  {% block prepended %}{% endblock %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Merriweather|Ubuntu|Droid+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
	<!-- JS libraries -->
	<!-- meta -->
	<meta name="google-site-verification" content="AG8SEesLBdPVqHccv9AG2DZ9kaIRAQ3hj6r555G7XyU" />
	<meta name="description" content="{{ description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="{{ tags }}">
	<meta name="author" content="Kevin Van Lierde">
	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>