<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head.html %}
	</head>
	<body id="{{ page.title | downcase }}" itemscope itemtype="http://schema.org/WebPage">
		<div id="wrapper">
			{% include header.html currentpage=page.title %}
			<main {% unless page.widgets %} class="no-sidebar" {% endunless %}>
				{% if page.type == 'list' %}
					<ul id="{{ page.title | downcase }}-roll" class="list">
						{{ content }}
					</ul>
				{% endif %}
				{% if page.type == 'page' %}
					<div class="page">
						{{ content }}
					</div>
				{% endif %}
				{% if page.type == 'cards' %}
					<ul id="{{ page.title | downcase }}-roll">
						{{ content }}
					</ul>
				{% endif %}
			</div>
			{% if page.widgets %}
				{% include sidebar.html widgets=page.widgets %}
			{% endif %}
		</main>
		{% include footer.html %}
	</body>
</html>